@model IEnumerable<UTA.ViewModels.AgencyViewModel>

@{
  ViewBag.Title = "Turističke Agencije";
}

<h2 class="m-2">Turističke Agencije</h2>

<div class="d-flex">
  @foreach (var agency in Model) {
    <div class="card m-2" style="width: 18rem;">
      <img src="~/Content/Logos/@agency.Logo" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">@agency.Name</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        @Html.ActionLink("Detalji", "Details", new { id = agency.Id }, new { @class = "btn btn-primary" })
      </div>
    </div>
  }
</div>

