@{
    ViewBag.Title = "O Nama";
}
<h2 class="m-2">@ViewBag.Title</h2>
<!--h3>@ViewBag.Message</h3-->

<p>
  Udruženje turističkih agencija – UTA  je dobrovoljna strukovna neprofitna organizacija
  sa ciljem da postane berza turističke ponude i potražnje. Naše redovne članice – turističke
  agencije, pored ispunjavanja svih kriterijuma za poslovanje agencija propisanih Zakonom,
  ispunjavaju i visoke dodatne standarde kao uslov za članstvo u UTA-i, tako da Vam sasvim
  pouzdano možemo potvrditi da im sa punim poverenjem možete poveriti Vaše vreme i sigurnost,
  i da ćete za Vaš novac dobiti adekvatan kvalitet.
</p>
<p>
  Kako bismo ostvarili našu viziju i misiju – da postanemo centar, pokretačka snaga turističkog
  razvoja naše zemlje, svojim članicama pružamo različite vidove podrške: od stvaranja pretpostavki
  za unapređenje saradnje među samim članicama do ostvarivanja svih vidova komunikacije sa
  međunarodnim asocijacijama i uključivanje u međunarodne tokove turizma.
</p>
<p>
  Naš fokus i cilj je i izgradnja beskompromisnog servisa za Vas, naše korisnike, udružujući
  najobrazovanije i najiskusnije turistilke agente širom naše zemlje. Iskustvo leži u srcu
  svega što radimo, a biti deo ostvarenja Vašeg putovanja iz snova je naša nagrada i divno
  iskustvo i za nas.
</p>
