@model IEnumerable<UTA.Models.Arrangement>

@{
    ViewBag.Title = "Aranžmani";
}

<h2 class="m-2">Aranžmani</h2>

<div class="d-flex flex-wrap">
  @foreach (var arrangement in Model) {
    <div class="card m-2" style="width: 18rem;">
      <img src="~/Content/Images/@arrangement.Destination.Picture" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">@arrangement.Destination.Place</h5>
        <p class="card-text">@arrangement.Agency.Name</p>
        @Html.ActionLink("Detalji", "Details", new { id = arrangement.Id }, new { @class = "btn btn-primary" })
      </div>
    </div>
  }
</div>

